.style-checkout{
    text-align: center;
    width: 100%;
    padding: 20px 0px 16px 0px;
    font-size: 30px;
    font-family:'Times New Roman';
    font-weight: 600;
}
.check-out {
    padding:  0;
}